* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-transform: uppercase;
	font-family: "gidole";
}

body {
	background: #232323;
	color: #fff;
}

header h1 {
	font-size: 1.5rem;
	text-align: center;
	background: rgb(30, 130, 200);
	padding: 0.5rem;
}

#colorToFind {
	font-size: 2em;
}

.bar {
	background: #fff;
	display: flex;
	justify-content: center;
}

#response {
	text-transform: none;
	padding: 0.3rem;
	font-size: 0.8rem;
	width: 200px;
	color: #000;
	text-align: center;
}

.btn {
	background: #fff;
	font-size: 0.8rem;
	padding: 0.3rem;
	cursor: pointer;
	transition: 0.3s;
	color: rgb(30, 130, 200);
}

.btn:hover,
.active {
	background: rgb(30, 130, 200);
	color: #fff;
}

.container {
	width: 40%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: auto;
}

.square {
	width: 30%;
	padding-bottom: 30%;
	margin: 1.66%;
	background: #f00;
	border-radius: 10%;
	transition: background 0.3s;
}

.hide {
	display: none;
}

.hideSquare {
	opacity: 0;
}

@media (max-width: 1200px) {
	.container {
		width: 50%;
	}
}

@media (max-width: 992px) {
	.container {
		width: 65%;
	}
}

@media (max-width: 768px) {
	.container {
		width: 90%;
	}
}
